@model BanVeXeKhach.Models.NhaXe

@{
    ViewData["Title"] = "Thêm nhà xe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Thông tin nhà xe</h1>
        <a asp-action="Index" class="btn btn-dark"><i class="fa fa-arrow-left"></i> Quay lại</a>
    </div>

    <form asp-action="Them">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="content table-responsive content">
                            <div class="panel-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="bienSo" class="control-label"></label>
                                    <input asp-for="bienSo" class="form-control" />
                                    <span asp-validation-for="bienSo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="tenNhaXe" class="control-label"></label>
                                    <input asp-for="tenNhaXe" class="form-control" />
                                    <span asp-validation-for="tenNhaXe" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="soDienThoai" class="control-label"></label>
                                    <input asp-for="soDienThoai" class="form-control" />
                                    <span asp-validation-for="soDienThoai" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="soGheNgoi" class="control-label"></label>
                                    <input asp-for="soGheNgoi" type="number" value="0" class="form-control" />
                                    <span asp-validation-for="soGheNgoi" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="soGheNam" class="control-label"></label>
                                    <input asp-for="soGheNam" type="number" value="0" class="form-control" />
                                    <span asp-validation-for="soGheNam" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="taiTrongMoiKhach" class="control-label"></label>
                                    <input asp-for="taiTrongMoiKhach" type="number" value="0" class="form-control" />
                                    <span asp-validation-for="taiTrongMoiKhach" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="thoiGianDi" class="control-label"></label>
                                    <input asp-for="thoiGianDi" type="time" class="form-control" />
                                    <span asp-validation-for="thoiGianDi" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Lưu thông tin" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
