@model BanVeXeKhach.Models.Khach

@{
    ViewData["Title"] = "Đặt vé theo nhóm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Đặt vé theo nhóm!</h1>
                        </div>
                        <form asp-action="DatVe">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="hoTen" class="control-label"></label>
                                <input asp-for="hoTen" class="form-control" placeholder="Họ và tên" />
                                <span asp-validation-for="hoTen" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="soDienThoai" class="control-label"></label>
                                <input asp-for="soDienThoai" class="form-control" placeholder="Số điện thoại" />
                                <span asp-validation-for="soDienThoai" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="idTinh" class="control-label"></label>
                                <select asp-for="idTinh" asp-items="@ViewBag.DSTinh" class="form-control js-select2"></select>
                                <span asp-validation-for="idTinh" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="hidden" class="form-control" id="linkNhom" value="" readonly onclick="copy(this)" />
                            </div>

                            <button type="button" class="btn btn-primary btn-user btn-block btnTaoLinkNhom">Tạo link đặt vé nhóm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $(".btnTaoLinkNhom").on("click", function () {
                $.post(
                    "@Url.RouteUrl("dat_ve.post")",
                    {
                        __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
                        hoTen: document.getElementById("hoTen").value,
                        soDienThoai: document.getElementById("soDienThoai").value,
                        idTinh: document.getElementById("idTinh").value,
                    },
                    function (data, status) {
                        if (data.status == "success") {
                            document.getElementById("linkNhom").value = data.data;
                            document.getElementById("linkNhom").setAttribute('type', 'text');
                        }
                        else {
                            alert(data.data);
                        }
                    }
                );
            });
        });

        function copy(e) {
            var value = $(e).val();
            $(e).select().focus();
            navigator.clipboard.writeText(value);
            toastr.success("Copied #" + value, "", { timeOut: 3000 });
        };
    </script>
}

